RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=mailing
RABBITMQ_PASS=mailing
RABBITMQ_VHOST=/

SENDGRID_API_KEY=SG.replace-me
FROM_EMAIL=noreply@desiderius.me
ADMIN_EMAILS=admin1@example.com,admin2@example.com

SENDGRID_TEMPLATE_REGISTRATION_CONFIRMATION=d-replace-me
SENDGRID_TEMPLATE_PAYMENT_CONFIRMATION=d-replace-me
SENDGRID_TEMPLATE_INVOICE_READY=d-replace-me
SENDGRID_TEMPLATE_SESSION_UPDATE=d-replace-me
SENDGRID_TEMPLATE_GENERAL_ANNOUNCEMENT=d-replace-me
SENDGRID_TEMPLATE_DAILY_REPORT=d-replace-me
